
.vs/SnowSimulator/v15/ipch/AutoPCH/e5e66b5c11b2c4f/CONSTANT.ipch
.vs/SnowSimulator/v15/ipch/AutoPCH/c5e0174cfdb086da/MAIN.ipch
.vs/SnowSimulator/v15/Browse.VC.opendb
.vs/SnowSimulator/v15/Browse.VC.db
.vs/SnowSimulator/v15/.suo
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/launch.vs.json
CMakeSettings.json
*.ipch
.vs/VSWorkspaceState.json
